@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: #1f1a24;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: whitesmoke
}

.navbar {
  padding: unset;
}

.mr-2, .mx-2 {
  margin-right: unset;
}

.navbar-light .navbar-brand {
  color: #BB86fC;
}

.navbar-light .navbar-brand:hover {
  color: white
}

.mr-2, .mx-2 {
    margin: 0 !important;
}

a#directory {
  color: #BB86fC
}

a#directory:hover {
  color: white
}

.container {
  margin: 30px auto;
  width: 350px;
}

.card {
  border: none;
}

.form-control {
  color: white;
  background-color: #3e3946;
  border-color: #BB86fC;
}

h1 {
  color: #BB86fC;
}

h2 {
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #332940;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
  overflow-wrap: anywhere;
}

.money.plus {
  color: #2ecc71;
  justify-content: center;
}

.money.minus {
  color: #c0392b;
  justify-content: center;
}

.btn {
  cursor: pointer;
  background-color: #332940;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 10px;
  padding: 5px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #332940;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-left: 5px solid #2ecc71;
  border-right: 5px solid #2ecc71;
  color: white
}

.list li.minus {
  border-left: 5px solid #c0392b;
  border-right: 5px solid #c0392b;
  color: white;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

.card-body {
  background-color: #332940;
}

.btn-primary:hover {
  background-color: #1f1a24;
}

.btn-primary:focus, .btn-primary.focus {
  background-color: #1f1a24;
}

button#Salary.btn.btn-secondary.active {
  background-color: #2ecc71;
}
button#Bonuses.btn.btn-secondary.active {
  background-color: #2ecc71;
}
button#Transfer.btn.btn-secondary.active {
  background-color: #1f1a24;
}
button#Bus.btn.btn-secondary.active {
  background-color: #c0392b;
}
button#Train.btn.btn-secondary.active {
  background-color: #c0392b;
}
button#Fuel.btn.btn-secondary.active {
  background-color: #c0392b;
}
button#Food.btn.btn-secondary.active {
  background-color: #c0392b;
}
button#Loans.btn.btn-secondary.active {
  background-color: #c0392b;
}
button#Groceries.btn.btn-secondary.active {
  background-color: #c0392b;
}
button#Others.btn.btn-secondary.active {
  background-color: #1f1a24;
}

#Salary:hover {
  color: #1f1a24
}
#Bonuses:hover {
  color: #1f1a24
}
#Transfer:hover {
  color: #1f1a24
}
#Bus:hover {
  color: #1f1a24
}
#Train:hover {
  color: #1f1a24
}
#Fuel:hover {
  color: #1f1a24
}
#Food:hover {
  color: #1f1a24
}
#Loans:hover {
  color: #1f1a24
}
#Groceries:hover {
  color: #1f1a24
}
#Others:hover {
  color: #1f1a24;
}